<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>报名系统管理后台</title>
        <link rel="stylesheet" href="/css/loader.css" />
        <link rel="shortcut icon" href="http://nmcmm.wmu.edu.cn/shumo/styles/assets/i/logo.png" />
    </head>
    <body>
        <div id="root">
            <div class="cssload-loader">
                <div class="cssload-inner cssload-one"></div>
                <div class="cssload-inner cssload-two"></div>
                <div class="cssload-inner cssload-three"></div>
            </div>
        </div>
        <script src="/build/vendor.bundle.js"></script>
        <script src="/build/admin.bundle.js"></script>
    </body>
</html>
