<!DOCTYPE html>
<html>
    <head>
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
    </head>
    <body style="text-align:center;padding-top: 10%">
        <h2><%= title %></h2>
        <p style="margin-top: 3%">
            <a target="_blank" href="/signup">登录报名系统</a>
            <a target="_blank" style="margin-left: 3%" href="/admin">登录管理后台</a>
        </p>
    </body>
</html>
